.theimpactsite,
.valleyofrepose,
.distanttundra {
    background-color: lightslategray;
}

.awakeningwood,
.theforestofhope,
.gardenofhope {
    background-color: limegreen;
}

.perplexingpool,
.thedistantspring,
.tropicalwilds {
    background-color: dodgerblue;
}

.wistfulwild,
.theforestnavel,
.twilightriver {
    background-color: chocolate;
}

.thefinaltrial,
.formidableoak {
    background-color: goldenrod;
}

.concrete {
    background-color: gray;
}

.garden {
    background-color: lightgreen;
}

.metal {
    background-color: orange;
}

.snow {
    background-color: snow;
}

.soil {
    background-color: sienna
}

.toybox {
    background-color: burlywood;
}

.tiles {
    background-color: lightskyblue;
}