.theimpactsite,
.valleyofrepose,
.distanttundra {
    background-color: lightslategray;
}

.awakeningwood,
.theforestofhope,
.gardenofhope {
    background-color: limegreen;
}

.perplexingpool,
.thedistantspring,
.tropicalwilds {
    background-color: dodgerblue;
}

.wistfulwild,
.theforestnavel,
.twilightriver {
    background-color: chocolate;
}

.thefinaltrial,
.formidableoak {
    background-color: goldenrod;
}