:root {
    --banner: limegreen;
    --bannerText: white;
    --font: 'pikmin';
    --font2: 'pikmin'
}

body {
    text-shadow: 2px 2px 2px black
}

.button,
i {
    text-shadow: none
}

header {
    height: 80px
}

#tabs {
    width: 250px !important
}

td {
    text-align: center;
}

.no-select {
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.selected {
    text-shadow: none !important
}

#myekuls {
    font-size: 90% !important
}

.sublevel {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    /* gap: 10px; */
}